<!DOCTYPE html>
<html>
<head>
    <title>Kottans:Pokedex</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <script src = "js/mainApp.js"></script>
    <script src = "js/route.js"></script>
    <script src = "js/filters.js"></script>
    <script src = "js/controllers.js"></script>
</head>

<body>
    <div class="container">
        <div ng-app = "pokeList"  ng-controller = "pokeController as pokes">
            <h1 class="text-center">Pokedex</h1>
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <select ng-model="selectedType">
                            <option value="" selected disabled>Filter By Type</option>
                            <option value="">All</option>
                            <option value="{{pokeType.name.toLowerCase()}}" ng-repeat="pokeType in pokes.types">{{pokeType.name}}</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-md-4" ng-repeat="pokemon in pokeDex.pokemons | typeIs:selectedType">
                            <a class="poke-details-link" href="#{{pokemon.pkdx_id}}">
                                <div class="poke-card">
                                    <div class="poke-image-wrapper text-center">
                                        <span class="poke-image-helper"></span>
                                        <img ng-src="http://pokeapi.co/media/img/{{pokemon.pkdx_id}}.png">
                                    </div>
                                    <h4 class="poke-name text-center"><b>{{pokemon.name}}</b></h4>
                                    <div class="types">
                                        <span class="{{type.name}}" ng-repeat = "type in pokemon.types ">{{type.name}}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="spinner" ng-show="loading">Loading...</div>
                        <button class="btn btn-block btn-primary" ng-click="pokeDex.getNextChunk()" ng-disabled="loading">Load More</button>
                    </div>
                </div>
                <div class="col-md-3" ng-view></div>
                <script type = "text/ng-template" id = "pokeDetails.html">
                    <div class="poke-details-wrapper">
                        <div class="spinner" ng-show="poke.loading">Loading...</div>
                        <div class="poke-details" ng-hide="poke.loading">
                            <img class="center" src="http://pokeapi.co/media/img/{{poke.details.pkdx_id}}.png">
                            <p>{{poke.details.name}} #{{poke.details.pkdx_id | numberFixedLen:3}}</p>
                            <table>
                                <tr>
                                    <td>Type</td>
                                    <td>
                                        <div class="types">
                                            <span class="{{type.name}}" ng-repeat = "type in poke.details.types">{{type.name}}</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Attak</td>
                                    <td>{{poke.details.attack}}</td>
                                </tr>
                                <tr>
                                    <td>Defense</td>
                                    <td>{{poke.details.defense}}</td>
                                </tr>
                                <tr>
                                    <td>HP</td>
                                    <td>{{poke.details.hp}}</td>
                                </tr>
                                <tr>
                                    <td>SP Attack</td>
                                    <td>{{poke.details.sp_atk}}</td>
                                </tr>
                                <tr>
                                    <td>SP Defense</td>
                                    <td>{{poke.details.sp_def}}</td>
                                </tr>
                                <tr>
                                    <td>Speed</td>
                                    <td>{{poke.details.speed}}</td>
                                </tr>
                                <tr>
                                    <td>Weight</td>
                                    <td>{{poke.details.weight}}</td>
                                </tr>
                                <tr>
                                    <td>Total moves</td>
                                    <td>{{poke.details.moves.length}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                 </script>
            </div>
        </div>
    </div>
</body>
</html>
